body {
  background-color: whitesmoke;
  margin: 0;
}

p{
  color: black;
}

header {
  max-height: 192px;
}

/* CLASSES */

[class*="col-"] {
  float: left;
  padding: 1px;
}

@media only screen and (min-width: 750px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .logo-img {
      min-width: 1px;
      min-height: 92px;
    }
}

@media only screen and (max-width: 750px) {
  .col-1 {width: 100%;}
  .col-2 {width: 100%;}
  .col-3 {width: 100%;}
  .col-4 {width: 100%;}
  .col-5 {width: 100%;}
  .col-6 {width: 100%;}
  .col-7 {width: 100%;}
  .col-8 {width: 100%;}
  .col-9 {width: 100%;}
  .col-10 {width: 100%;}
  .col-11 {width: 100%;}
  .col-12 {width: 100%;}
  .logo-img {
    max-width: 125px;
    max-height: 192px;
  }
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.locations {
  float: none;
  padding: 0 10%;
  max-height: 192px;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1, 100%;
}

.loc1 {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}
.loc2 {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}
