body {
  background-color: #565656;
}

footer {
  background-color: #1f1f1f;
  margin: 0;
  color: whitesmoke;
}

h1 {
  text-align: center;
  margin: 2px 0;
}

/* CLASSES */

@media only screen and (min-width: 600px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 30%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 70%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .col-main {width: 70%;}

    .wrapper {
       display: grid;
       grid-template-columns: 30% 70%;
       grid-template-rows: 33.33% 33.33% 33.33%;
       padding: 2%;
       color: black;
    }

    .loc1 {
       grid-column: 1 / 2;
       grid-row: 1 / 2;
       width: 100%;
       height: 100%;
       display: block;
       object-fit: contain;
       background-color: whitesmoke;
    }

    .places {
      background-color: #1f1fff;
      display: flex;
      align-items: center;
      text-align: center;
      border: solid black 1px;
    }

    .loc2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-color: #1f1fff;
      text-align: center;
      width: 100%;
    }

    .loc3 {
       grid-column: 1 / 2;
       grid-row: 3 / 4;
       background-color: #1f1fff;
       text-align: center;
       width: 100%;
    }

    .locations {
      margin: auto;
      width: 100%;
      text-align: center;
    }

    .locations p {
      margin: 2px;
    }

    .main-image {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    .motto {
      padding: 15px;
      width: 100%;
      text-align: center;
      background-color: whitesmoke;
    }

    .grid-2 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      padding: 2%;
    }

    .pt {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .intro {
      display: flex;
      background-color: #1f1fff;
      text-align: center;
      padding: 10%;
    }

    .intro-text {
      margin: auto;
      color: whitesmoke;
    }
/*
    .footer-all li{
      display: inline;
      float:left;
      margin: 10px;
    }

    .footer-all a{
      display: block;
    }

    .footer-all {
      background-color: #1f1f1f;
      height: 100%;
      width: 100%;
    }
*/
    .footer-all ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    .footer-all li {
      float: left;
    }

    .footer-all li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .footer-all a:hover {
      color:
    }

    .pin {
      width: 30%;
      border: 1px solid black;
      margin:auto;
    }

    .pin-image {
      display: block;
      width: 100%;
      height: auto;
      max-height: 90%;
      margin:auto;
    }

    .margin {
      margin: 0 0;
    }

    .locations-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      margin: 0 2%;
      color: whitesmoke;
      background-color: #1f1f1f;
      border: 3px solid black;
    }

    .locations-spot {
      grid-template-columns: 1 / 2;
      grid-template-rows: 1 / 2;
      background-color: #1f1fff;
    }

    .google-maps {
      margin: 0;
      grid-template-columns: 2 / 3;
      grid-template-rows: 1 / 2;
      position: relative;

    }

    .about-us-title {
      text-align: center;
    }

    .locations-spot p {
      margin: 2px;
    }

    .about-locations {
      text-align: center;
      height: 100%;
      padding: 20px;
    }

    .locations-banner {
      /*padding: 15px;*/
      margin: 0 2%;
      text-align: center;
      background-color: whitesmoke;
      height: 10px;
      background-color: #1f1f1f;
    }
}

@media only screen and (max-width: 750px) {
  .col-1 {width: 100%;}
  .col-2 {width: 100%;}
  .col-3 {width: 100%;}
  .col-4 {width: 100%;}
  .col-5 {width: 100%;}
  .col-6 {width: 100%;}
  .col-7 {width: 100%;}
  .col-8 {width: 100%;}
  .col-9 {width: 100%;}
  .col-10 {width: 100%;}
  .col-11 {width: 100%;}
  .col-12 {width: 100%;}
  .col-main {width: 100%;}

      .wrapper {
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: repeat(4, 25%);
      }

      .loc1 {
         grid-column: 1 / 2;
         grid-row: 1 / 2;
         width: 100%;
         height: 100%;
         display: block;
         object-fit: contain;
         background-color: whitesmoke;
      }

      .loc2 {
         grid-column: 1 / 2;
         grid-row: 2 / 3;
         background-color: #0000fe;
         text-align: center;
         display: flex;
      }

      .loc3 {
         grid-column: 1 / 2;
         grid-row: 3 / 4;
         background-color: #0000fe;
         text-align: center;
         display: flex;
      }

      .locations {
        margin: auto;
        display:table-cell;

      }

      .main-image {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }

}
